# POSTGRES
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_NAME=
POSTGRES_SSLMODE=disable

# HTTP SERVER
HTTP_SERVER_ADDRESS=
HTTP_SERVER_READ_TIMEOUT=30
HTTP_SERVER_WRITE_TIMEOUT=30