# POSTGRES
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_NAME=
POSTGRES_SSLMODE=disable

# HTTP SERVER
HTTP_SERVER_ADDRESS=
HTTP_SERVER_READ_TIMEOUT=30
HTTP_SERVER_WRITE_TIMEOUT=30

# WORKER
WORKER_POOL_SIZE=4
WORKER_TICK_INTERVAL_SECONDS=5
WORKER_TASK_TIMEOUT_SECONDS=10